<html>
<head>
	<script src="http://www.parsecdn.com/js/parse-1.6.4.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<meta charset="utf-8">
	<title>Sample Parse Display</title>
	<meta name="description" content="museum beacon javascript">
	<meta name="viewport" content="width=device-width">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script>
	<link rel="stylesheet" type="text/css" href="homepageStyle">
</head>

<body onload="beaconDisplay()">
	<h1>Default Template Table</h1>


	<div id="titles"><span> objectID </span><span> BeaconID </span><span> Title </span><span> Text </span><span> Image </span></div>
	<div id="container"></div>

	<!--div>
		<table id="table" border="1">
			<tr>
				<td>objectID</td>
				<td>BeaconID</td>
				<td>Title</td>
				<td>Text</td>
				<td>Image</td>
			</tr>
		</table>
	</div-->
	<br>
	<p id="time"> TIME: <span id="tspan"></span></p>
	<script src="beaconDisplay.js"></script>
</body>
</html>
