<html>
<head>
	<script src="http://www.parsecdn.com/js/parse-1.6.4.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<meta charset="utf-8">
	<title>MuseBeacon Home</title>
	<meta name="description" content="MuseBeacon standard user homepage">
	<meta name="viewport" content="width=device-width">
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script>
	<link rel="stylesheet" type="text/css" href="homepageStyle">
</head>

<body onload="beaconDisplay()">
	<div id='header'>
		<h1>MuseBeacon Entries</h1>
	</div>

	<div class='section' id='list'>
		<div id="tableHeaders"><span> Title </span><span> Collection </span></div>
		<div id="listContainer">
			<!-- records from Parse will be stored here -->
		</div>
	</div>
	<div class='section' id='sample'>
		<p id='recordHeader'> No Record Selected </p>
		<div id='recordContainer'>
			<!-- Clicking a record will display its info here -->
		</div>
	</div>
	<div id="time"> TIME: <span id="tspan"></span></div>
	<script src="beaconDisplay.js"></script>
</body>
</html>
