body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #6f5499;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}

a {
  color: white;
}

a:hover {
    color: #00B7FF;
    text-decoration: none;
}

.form-signin{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox{
    margin-bottom: 10px;
}
.form-signin .checkbox{
    font-weight: normal;
}
.form-signin .form-control{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus{
    z-index: 2;
}
.form-signin input[type="text"]{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin input[type="password"].nomargin{
	margin-bottom: 0px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall{
    margin-top: 20px;
    padding: 20px 0px 15px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.signup-wall{
	margin-top: 20px;
    padding: 20px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);	
    color: #666;
}
.login-title{
    font-size: 18px;
    font-weight: 500;
    display: block;
}
.profile-img{
    width: 96px;
    height: 60px;
    font-size: 60px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #428bca;
}
.new-account{
    display: block;
    margin-top: 10px;
}
h1.error-message{
    color: white;
}
ul.user-details{
    list-style: none;
}
.sidebar {
    /*padding: 20px 0px 20px 0px;*/
    background-color: #333333;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4); 
    color: #666;
}
.sidebar-header h3 {
    text-align: center;
}
.sidebar-header h4 {
    text-align: left;
    font-weight: 700;
}
.sidebar-content {
    background-color: #444444;
}
.sidebar-content:hover {
    background-color: #00B7FF;
}
.sidebar-content h4 {
    text-align: left;
}

.beacon-form h3 {
    color: #666;
}
.form-editbeacon {
    max-width: 500px;
    margin: 0 auto;
}
.form-editbeacon input, .form-editbeacon button {
    margin-top: 20px;
}
.form-editbeacon input:first-of-type {
    margin-top: 0;
}
.form-editbeacon button {
    width: 200px;
    margin: 20px auto 0;
}